<ion-header>
    <ion-navbar>
        <ion-title>
            Simple Phone Book
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item-group *ngIf="favouriteContacts.length">
        <ion-item-divider color="light">Favourite</ion-item-divider>
            <ion-item *ngFor="let fav of favouriteContacts; let i = index" (click)="goToContactInfo(fav)">
                <h2>
                    {{fav.name}}
                </h2>
                <h3>
                    {{fav.company.name}}
                </h3>
                <ion-icon item-end name="arrow-forward-outline"></ion-icon>
                <button ion-button clear item-end (click)="makeUnfavourite(fav, i)">
                    <ion-icon *ngIf="fav.isFavourite" class="yellow" name="star"></ion-icon>
                    <ion-icon *ngIf="!fav.isFavourite" name="star-outline"></ion-icon>
                </button>
            </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="contacts.length">
        <ion-item-divider color="light">Contacts</ion-item-divider>
        <ion-item *ngFor="let item of contacts; let i = index" (click)="goToContactInfo(item)">
            <h2>
                {{item.name}}
            </h2>
            <h3>
                {{item.company.name}}
            </h3>
            <ion-icon item-end name="arrow-forward-outline"></ion-icon>
            <button ion-button clear item-end (click)="makeFavourite(item, i)">
                <ion-icon *ngIf="item.isFavourite" class="yellow" name="star"></ion-icon>
                <ion-icon *ngIf="!item.isFavourite" name="star-outline"></ion-icon>
            </button>
        </ion-item>
    </ion-item-group>
</ion-content>
